{% extends "base.html" %}

{% block content %}

	<div id="page">
		<div id="page_header">
			<h1>De achtergrond van PIM</h1>
		</div>
		<div id="page_sidebar">
		</div>
		<div class="page_item">
			<img src="/static/global/2876825410_67435c88dc_o.jpg" alt="vergrootglas" />
			<h2>Wat weten ze over jou?</h2>
			<p>Je staat geregistreerd in honderden, zo niet duizenden, bestanden, verspreid over talloze organisaties. Je hebt als burger het recht om inzage te krijgen in die registraties, eventuele fouten te laten corrigeren en – als de registratie niet noodzakelijk is – ook weer te laten verwijderen. Dat is geregeld in de Wet bescherming persoonsgegevens (de WBP). Maar <a href="http://test.pim.bof.nl/het-inzagerecht-een-grondrecht/">wat regelt die wet nu precies</a>?</p>
		</div>
		
		<div class="page_item">
			<img src="/static/global/3567689465_8e8d15b486_o.jpg" alt="archiefdozen" />
			<h2>Wat weet mijn organisatie?</h2>
			<p>Vrijwel elke organisatie verwerkt persoonsgegevens zoals die van klanten en werknemers. De betrokkene heeft een recht op inzage en correctie in de gegevens die door de organisatie van hem of haar worden verwerkt. De basis hiervoor is in artikel 10 van de Grondwet vastgelegd. Waarom kunt u zo'n verzoek krijgen en hoe <a href="http://test.pim.bof.nl/het-inzageverzoek-bij-een-organisatie/">hoort u er mee om te gaan</a>?</p>
		</div>
		<div class="page_item">
			<img src="/static/global/3698104807_a84364f10e_o.jpg" alt="massa" />
			<h2>Wie maakt PIM</h2>
			<p>PIM is een initiatief van Bits of Freedom. Het project is ontwikkeld <a href="http://test.pim.bof.nl/ere-wie-ere-toekomt/">door talloze vrijwilligers</a>. We moedigen anderen aan hetzelfde te doen.</p>
		</div>
		<div class="page_item last">
			<img src="/static/global/281610353_540c252147_o.jpg" alt="kleine lettertjes" />
			<h2>De kleine lettertjes</h2>
			<p>PIM wordt onderhouden door Bits of Freedom. Zij komt op voor vrijheid en privacy op internet. We doen ons best de bedrijfsgegevens op deze website correct en volledig te laten zijn. We doen niets met je persoonsgegevens. Meer informatie hierover vind je in <a href="http://test.pim.bof.nl/kleine-lettertjes/">de kleine lettertjes</a>.</p>
		</div>

		<div class="credits">De getoonde afbeeldingen zijn respectievelijk <a href="http://www.flickr.com/photos/mouldfish/2876825410/">Glass eye</a> van <a href="http://www.flickr.com/photos/mouldfish/">Mouldfish</a> (<a href="http://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a>), <a href="http://www.flickr.com/photos/dolescum/3567689465">Archives' stacks</a> van <a href="http://www.flickr.com/photos/dolescum/">Dolescum</a> (<a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">CC BY-NC-SA 2.0</a>), <a href="http://www.flickr.com/photos/haagsuitburo/3698104807">Parkpop 2009, Dancing Girl</a> van <a href="http://www.flickr.com/photos/haagsuitburo/">Haags Uitburo</a> (<a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">CC BY-NC-SA 2.0</a> en <a href="http://www.flickr.com/photos/uberzombie/281610353">Disclaimer</a> van <a href="http://www.flickr.com/photos/uberzombie/">Uberzombie</a> (<a href="http://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>).</div>
		
		</div>

    </div>

{% endblock %}
