Django>=1.2.3
-e git://github.com/django-extensions/django-extensions.git#egg=django-extensions
django_debug_toolbar
django-staticfiles
django-sentry
django-taggit
surlex
django-tinymce
-e git://github.com/dokterbob/django-metadata.git#egg=django-metadata
-e git+http://github.com/dokterbob/django-simplesite.git#egg=django-simplesite

