#comments { 
  margin-left: 20px;
}

.navigation {
  margin-left: 20px;
}

.commentlist {
  margin-left: 20px;
  margin-top: 20px;
}

#respond {
  margin-top: 20px;
  margin-left: 20px;
}


/* Nasty overwrite of style.css styles to fix conflicts with WP specific classes */
.page_item{
  padding: 0;
  border-bottom: none;
  width: auto;
  overflow:visible;
}

.page_item h2{
  color: transparent;
}

.page_item img{
  width: auto;
  height: auto;
  border: none;
  display:inherit;
  float: none;
  margin-right: 0;
}

.page_item.last{
  border-bottom: 0;
}
