{% extends "base.html" %}

{% block content %}

	<div id="page" class="frontpage">
      <div class="fp_column">
      	{% autoescape off %}
      	  {{ page_current.content }}
      	{% endautoescape %}
	  </div>
	  <div class="column">
	    <h2>De drie stappen naar een inzageverzoek</h2>
	    <p>Hier moet nog wat dynamische tekst. Alexander / Rejo, graag benodigde wijzigingen aanbrengen in template -CWB</p>
		<a id="next-step" class="step-button" href="/start">Start Pim</a>
	  </div>
    </div>

{% endblock %}
