body {
	margin: 0;
	padding: 0;
	background: #bcb4a9 url(pim_background.png) repeat-x;
	font: 12px Arial, Helvetica, sans-serif, courier;
	line-height: 1.5;
	color: #000;
}

a { color: #fff;}
a img { border: none; }
a:hover { color: #fff; }

#container {
	position: relative;
	margin: 0 auto;
	width: 960px;
}

#logo {
	background: transparent url(logo.png) no-repeat;
	width: 124px;
	height: 133px;
	position: absolute;
	top: 25px;
}
#logo h1 { display: none; }

#footer {
	position: absolute;
	left: 224px;
	top: 723px;
	color: #B5A694;
	font-size: 11px;
}

#footer div {
	width: 511px;
	height: 82px;
	background: transparent url(privacyassistent_bottom.png) no-repeat;
}

ul.nav { position: absolute; right: 0; height: 20; list-style-type: none; margin: 10px 0 0 0; }
ul.nav li { display: inline; padding-right: 10px; }
ul.nav a { font-size: 16px; }

#wizard {
	position: absolute;
	top: 200px;
	height: 465px;
	width: 100%;
	background: transparent url(wizard_background.png) repeat-y;
}

#wizard #wiz_nav {
	background: transparent url(wizard_nav.png) no-repeat;
	height: 52px;
}

#wizard #wiz_nav #grrbalk {
	position: relative;
	left: -6px;
	top: 11px;
	height: 41px; 
	width: 6px;
	background: transparent url(grrbalk.png); 
}

#wizard #wizard_bottom {
	position: relative;
	top: 400px;
	background: transparent url(wizard_bottom.png) no-repeat;
	height: 14px;
}

#wizard #wiz_nav span { position: absolute; top: 21px; color: #EEEAE9; font-weight: bold; }
#wizard #wiz_nav span h3 { font-size: 14px; margin: 0 10px 0 0; display: inline; }
#wizard #wiz_nav #bucket { left: 30px; font-size: 16px; color: #54301A; }
#wizard #wiz_nav #arrow1 { left: 225px; }
#wizard #wiz_nav #arrow2 { left: 535px; }
#wizard #wiz_nav #arrow3 { left: 745px; }

#content {
	position: absolute;
	left: 250px;
	width: 650px;
}
input[type=submit].volgende {
	text-align: left;
	border: 0px;
}

input[type=submit].volgende, div.volgende, div.vorige {
	position: absolute;
	top: 325px;
	font-size: 12px;
	color: #D2CCC5;
	width: 102px;
	height: 31px;
}
input[type=submit].volgende, div.volgende {
	right: 10px;
	background: transparent url(volgende.png) no-repeat;
	padding: 8px 0 8px 10px;
}
div.vorige {
	left: 10px;
	background: transparent url(vorige.png) no-repeat;
	padding: 8px 0 8px 50px;
}
