<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> -->
		<title>PIM</title>
		
		<link href="/static/global/style.css" media="screen" rel="stylesheet" type="text/css" />
		
		<!--[if lt IE 9]>
		<script type="text/javascript" src="/static/global/IE9.js"></script>
		<![endif]-->
		
		<script type="text/javascript" src="http://use.typekit.com/wge3fla.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
		<!--<base href="http://82.94.216.83/dataview/" />-->
	</head>
<body "{% block bodyparam %}{% endblock %}">
	<div id="content" class="clearfix">
		<img src="/static/global/pim_logo.png" alt="PIM logo" id="pim-logo"/>
		<img src="/static/global/pim_bof.png" alt="BOF logo" id="bof-logo"/>

		
		<ul id="main-nav" class="flat-list">
      {% for m in menu_list %}
      <li><a href="{{ m.get_absolute_url }}">{{ m.title }}</a></li>
      {% endfor %}
		</ul>
		
		<div id="sub-nav"><a href="/disclaimer/">Disclaimer</a> | <a href="/faq/">FAQ</a></div>
        {% block content %}
        {% endblock %}
			<div id="footer">Bits of Freedom 2010 | <a href="mailto:info@bitsoffreedom.nl">info@bitsoffreedom.nl</a> | <a href="">Creative Commons</a></div>
		</div>
	</div>
	
	<div id="bottom">
		
	</div>
</body>
</html>
