<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> -->
		<title>PIM: Wie weet wat van mij?</title>
		
		<link href="/static/global/style.css" media="screen" rel="stylesheet" type="text/css" />
		
		<!--[if lt IE 9]>
		<script type="text/javascript" src="/static/global/IE9.js"></script>
		<![endif]-->
		
		<script type="text/javascript" src="http://use.typekit.com/wge3fla.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
		<!--<base href="http://82.94.216.83/dataview/" />-->
	</head>
<body "{% block bodyparam %}{% endblock %}">
        <div id="top-nav-container">
		<div id="top-nav"><a href="/">PIM</a> is een project van <a href="http://www.bof.nl">Bits of Freedom</a></div>
        </div>
	<div id="content" class="clearfix">
		<a href="/"><img src="/static/global/pim_logo.png" alt="PIM logo" id="pim-logo"/></a>
		<a href="http://www.bof.nl"><img src="/static/global/pim_bof.png" alt="BOF logo" id="bof-logo"/></a>
		
		<ul id="main-nav" class="flat-list">
      {% for m in menu_list %}
	{% if m == menu_current %}
      <li><a class="active" href="{{ m.get_absolute_url }}">{{ m.title }}</a></li>
	{% else %}
      <li><a href="{{ m.get_absolute_url }}">{{ m.title }}</a></li>
	{% endif %}
      {% endfor %}
		</ul>
		
        {% block content %}
        {% endblock %}
			
		</div>
	</div>
	
	<div id="bottom">
		<div id="footer">
			<a href="/contact/">Contact</a> | <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/nl/">Creative Commons BY-NC-SA</a> | <a href="/kleine-lettertjes/">Kleine lettertjes</a>
		</div>
	</div>
</body>
</html>
