<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> -->
		<title>PIM: Wie weet wat van mij?</title>
		
		<link href="/static/global/style.css" media="screen" rel="stylesheet" type="text/css" />
		
		<!--[if lt IE 9]>
		<script type="text/javascript" src="/static/global/IE9.js"></script>
		<![endif]-->
		
		<!--[if lt IE 7]>
		<script type="text/javascript" src="/static/global/ie7.css"></script>
		<![endif]-->
		
		<script type="text/javascript" src="http://use.typekit.com/wge3fla.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
		<!--<base href="http://82.94.216.83/dataview/" />-->
	</head>
<body "{% block bodyparam %}{% endblock %}">
        
	<div id="content" class="clearfix">
		<a href="/"><img src="/static/global/pim_logo.png" alt="PIM logo" id="pim-logo"/></a>
		<a href="http://www.bof.nl"><img src="/static/global/pim_bof.png" alt="BOF logo" id="bof-logo"/></a>
		
		{# NOTE: THESE NEED TO BE KEPT IN SYNC WITH WORDPRESS #}
		<div class="menu-header">
			<ul class="flat-list clearfix main-nav" id="menu-header">
				<li class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-17 menu-item-101" id="menu-item-101"><a href="https://pim.bof.nl/">Home</a></li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78 current-menu-item current_page_item"><a href="/start/">Start</a></li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77" id="menu-item-77"><a href="https://pim.bof.nl/gebruikers/">Voor gebruikers</a></li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76" id="menu-item-76"><a href="https://pim.bof.nl/bedrijven/">Voor uw organisatie</a></li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79" id="menu-item-79"><a href="https://pim.bof.nl/over-ons/">Over ons</a></li>
			</ul>
		</div>
		
		
		{% block content %}
		{% endblock %}
  
  			<!-- Footer -->
			<div id="footer">
				<ul class="links-list">
					<li class="first">PIM is een initiatief van <a href="https://www.bof.nl/">Bits of Freedom</a></li>
					<li>
						<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/nl/">Creative Commons BY-NC-SA 3.0 NL</a>
					</li>
				</ul>
				
				<ul class="links-list">
					<li class="first">
						<a href="/over-ons/ere-wie-ere-toekomt/">Ere wie ere toekomt</a>
					</li>
					<li>
						<a href="/over-ons/privacy-verklaring/">Privacy verklaring</a>
					</li>
					<li>
						<a href="/over-ons/contact/">Contact</a>
					</li>
				</ul>
			</div>
			<!-- // #footer -->
		</div>
		
	</div>
	
</body>
</html>
