{% extends "base.html" %}

{% block content %}
		<div class="datadetective" id="wizard">
      <p>Wil je meehelpen aan PIM? Dat kan! Je kunt PIM steunen door mee te
      helpen aan het uitbreiden van de informatie over organisaties die je via
      PIM kan aanschrijven.</p>

      <p>Binnen PIM kan worden aangegeven wat organisaties over ons registreren
      (zoals aangegeven door CBP), en met welke organisaties ze jouw
      gegegevens uitwisselen. Organisaties kunnen op verschillende manieren
      worden geclassificeerd. We doen dit om het zoeken te verbeteren, maar
      ook om de zoekmachinezichtbaarheid te verbeteren.</p>

      <p>Het vergt onderzoekwerk om precies in kaart te brengen welke
      organisaties gegevens registreren en met wie ze deze gegevens
      uitwisselen. Daarvoor hebben we hulp nodig: wil jij een van onze
      datadetectives worden? Het is interessant werk. Je zal verbaasd staan
      wat er allemaal wordt verzameld en aan welke organisaties dat wordt
      doorgegeven.</p>

      <p>Ben je geïnteresseerd? Stuur een mailtje naar helmer.wieringa@gmail.
      com. Dan zullen we in een Skype-vergadering toelichten hoe PIM in elkaar
      steekt, en geven we je een account voor de database van PIM. Dit kijkje
      in de keuken is voor iedereen die aan de ontwikkeling van PIM wil
      bijdragen aanbevolen.</p>
  </div>
{% endblock %}
