{% extends "base.html" %}

{% block content %}
		<div style="padding: 20px;" id="wizard">
      <p>Je kunt PIM ook steunen door mee te helpen
      aan het uitbreiden van de PIM gegevens.
      Er is een vrij uitgebreid datamodel ontwikkeld
      dat de mogelijkheid biedt om aan te geven wat
      organisaties over ons registreren (zoals aangegeven door CBP), en met welke
      organisaties ze jouw gegegevens uitwisselen.
      Organisaties kunnen op verschillende manieren worden
      geclassificeerd. We doen dit om het zoeken te verbeteren,
      maar ook om de zoekmachinezichtbaarheid te verbeteren.
      Het is interessant werk, we zijn al gestuit op gigadatahamsters en hebben diverse verontrustende observaties gedaan. Wat dit verder inhoud willen we graag toelichten in een skype-vergadering,
      je krijgt dan een toelichting hoe PIM in elkaar steekt, en een account voor de PIM database.
      Dit kijkje in de keuken is voor iedereen die aan de PIM ontwikkeling wil bijdragen aanbevolen.
      Je kunt je zo aanmelden voor een briefing via skype. www.doodle</p>
  </div>
{% endblock %}
