{% extends "base.html" %}

{% block bodyparam %}{% endblock %}

{% block content %}
<div id="wizard">
  <ol id="steps" class="flat-list">
    <li class="selected"><span class="step-count">3</span> Download de brieven</li>
    <li class="progress"><img src="/static/global/progressbar_3.png" alt="voortgang" /></li>
  </ol>
  
  <div id="column-wrapper" class="clearfix step-3">
    
    <div class="double column clearfix">
	    <h2>De brieven zijn voor je aangemaakt</h2>
	    <p>Klik op elk van de onderstaande links om de brieven te openen en uit te printen. Vergeet niet voor het dichtplakken van de envelop <a href="/gebruikers/geef-niet-meer-dan-nodig/">een kopie van je identiteitsbewijs</a> toe te voegen. Een organisatie mag je maximaal 4,50 euro per verzoek <a href="https://pim.bof.nl/gebruikers/de-basis-van-een-verzoek-tot-inzage/">in rekening brengen</a>. In heel uitzonderlijke gevallen zelfs 22,50 euro.</p>

      <ul id="download-single">
        {% for c in selected_companies %}
        <li><a href="{% url pimbase.views.generatepdf c.pk %}" target="_blank">Download</a> <span>{{ c }}</span> </li>
        {% endfor %}
      </ul>
    </div>
    
    <div class="column">
		<p>We zijn zeer nieuwsgierig naar je ervaring met PIM. Kun je de website goed gebruiken? Doet de website wat je er van verwachtte? En, hoe reageren de bedrijven op je inzageverzoek? We <a href="/over-ons/contact/">horen het graag</a>.</p>


    </div>
    
    <p><a href="{% url pimbase.views.userdata %}" id="back-step" class="step-button" title="Ga naar de volgende stap"></a></p>
  </div>
      
{% endblock %}
