<html>
  <head>
    <title>Brief</title>
		<link href="/static/global/letter.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <p>Afzender:</p>
    <ul>
      <li>{{ firstname }} {{ lastname }}</li>
      <li>{{ street_address }}</li>
      <li>{{ postcode }} {{ city }}</li>
    </ul>

    <p>Aan:</p>
    <ul>
      <li>{{ organisation }},</li>
      <li>{{ organisation.address }}</li>
      <li>{{ organisation.postcode }} {{ organisation.city }}</li>
      <li>{{ organisation.country }} </li>
    </ul>

    <p>Speciale informatie</p>
    <ul>
      {% for m in misc %}
        {% if m.0.organisation.pk == organisation.pk %}
          <li>{{ m.0.name }}: {{ m.1 }}</li>
        {% endif %}
      {% endfor %}
    </ul>

    <p>{{ city }}, {{ currentdate }}</p>

    <p>Onderwerp: Verzoeken in het kader van de Wet bescherming persoonsgegevens (Wbp)</p>

    <p>Geachte Heer/Mevrouw,</p>

    <p>Op basis van artikel 35 van de Wet bescherming persoonsgegevens (Wbp)
    verneem ik graag of u persoonsgegevens van mij verwerkt. Indien dat het
    geval is, verzoek ik u om een volledig overzicht in begrijpelijke vorm, een
    omschrijving van de doeleinden van de verwerking, de herkomst van de
    gegevens en een overzicht van de organisaties aan wie u deze gegevens heeft
    verstrekt.</p>

    <p>Wellicht ten overvloede vermeld ik dat in lid 1 van het wetsartikel een
    termijn van vier weken wordt genoemd waarin u aan dit verzoek moet
    voldoen.</p>

    <p>Een kopie van mijn identiteitsbewijs is als bijlage opgenomen.</p>

    <p>Hoogachtend,</p>

    <p>{{ firstname }} {{ lastname }}</p>
  </body>
</html>
