{% extends "base.html" %}

{% block bodyparam %}class = "step-3"{% endblock %}

{% block content %}
<div id="wizard">
  <ol id="steps" class="flat-list">
    <li class="selected"><span class="step-count">3</span> Download de brieven.</li>
    <li class="progress"><img src="/static/global/progressbar_3.png" alt="voortgang" /></li>
  </ol>
  
  <div id="column-wrapper" class="clearfix">
    
    <div class="triple column clearfix">
	    <p>De brieven zijn voor je aangemaakt</p>
	    <p>Klik op elk van de onderstaande links om de brieven te openen en uit te printen. Vergeet niet voor het dichtplakken van de envelop een kopie van je identiteitsbewijs toe te voegen.</p>

      <ul id="download-single">
        {% for c in selected_companies %}
        <li>{{ c }} <a href="{% url pimbase.views.generatehtml c.pk %}">Download</a></li>
        {% endfor %}
      </ul>
    </div>
    
    <p><a href="{% url pimbase.views.userdata %}" id="back-step" class="step-button">Vorige</a></p>
  </div>
      
</div>
{% endblock %}
