<html>
  <head>
    <title>PIM - Privacy Inzage Machine</title>
      <link rel="stylesheet" href="/static/global/style.css" type="text/css" />
  </head>
  <body>
    <div id="info" >
      <a href="#">Disclaimer</a>
      <a href="#">FAQ</a>
    </div>
    <div id="center">
      <div id="nav">
        <a href="#">Home</a>
        <a href="#">Over Pim</a>
        <a href="#">Contact</a>
        <a href="#">Pers</a>
        <a href="#">Privacy</a>
      </div>
      <div id="selection">
        <div id="query">
          <div id="step1">
            <div class="stepnumber">1</div><div class="steptext">Kies de bedrijven</div>
          </div>
          <div id="step2">
            <div class="stepnumber">2</div><div class="steptext">Vul je gegevens in</div>
          </div>
          <div id="step3">
            <div class="stepnumber">3</div><div class="steptext">Maak de brieven</div>
          </div>
          <div id="banner">
            <h1>Kies hieronder de bedrijven die je wilt aanschrijven</h1>
          </div>
          <div id="filter">
            <div id="active_filters">
              <p>Geselecteerd op</p>

            {% if selected_cities or selected_tags or selected_citizenroles %}
              <ul>
                {% for role in selected_citizenroles %}
                <li><a class="delete" href="{% url letter.views.delcitizenrole role.0 %}">X</a>{{ role.1 }}</li>
                {% endfor %}
                {% for city in selected_cities %}
                <li><a class="delete" href="{% url letter.views.delcity city.pk %}">X</a>{{ city }}</li>
                {% endfor %}
                {% for tag in selected_tags %}
                <li><a class="delete" href="{% url letter.views.delkeyword tag.pk %}">X</a> {{ tag }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            </div>
            <p>Verfijn resultaten op</p>
              <p>Zoek afhankelijk van uw situatie</p>
              <ul>
                {# XXX: there should be a mapper between citizenroles and These names. For now this is good enough #}
                <li><a href="{% url letter.views.addcitizenrole 1 %}">Ik heb een Auto</a></li>
                <li><a href="{% url letter.views.addcitizenrole 2 %}">Ik heb een Bankrekening</a></li>
                <li><a href="{% url letter.views.addcitizenrole 3 %}">Ik reis veel</a></li>
                <li><a href="{% url letter.views.addcitizenrole 4 %}">Ik shop veel</a></li>
                <li><a href="{% url letter.views.addcitizenrole 5 %}">Ik heb m'n eigen bedrijf</a></li>
              </ul>
              {% if cities %}
              <p>Stad</p>
              <ul>
                {% for city in cities %}
                <li><a href="{% url letter.views.addcity city.id %}">{{ city }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
              {% if tags %}
              <p>Trefwoorden</p>
              <ul>
                {% for tag in tags %}
                <li><a href="{% url letter.views.addkeyword tag.id %}">{{ tag }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
          </div>
          <div id="organisations">
            <h2>Bedrijven</h2>
            <p>{{ org_count }} organisatie(s) gevonden.</p>
            <ul>
            {% for org in organisations.object_list %}
              <li><a href="{% url letter.views.addcompany org.id %}"> {{ org }}</a></li>
            {% endfor %}
            </ul>
            <div id="company_nav">
              {% if organisations.has_previous %}
              <a href="{% url letter.views.index organisations.previous_page_number %}">Vorige</a>
              {% endif %}
              Pagina {{ organisations.number }} van de {{ organisations.paginator.num_pages }}
              {% if organisations.has_next %}
              <a href="{% url letter.views.index organisations.next_page_number %}">Volgende</a>
              {% endif %}
            </div>
          </div>
          <div id="selected_organisations">
          {% if selected_companies|length == 0 %}
          <p>Je hebt nog geen bedrijven geselecteerd</p>
          {% else %}
          <ul>
            
            {% for c in selected_companies %}
            <li><a class="delete" href="{% url letter.views.delcompany c.pk %}">X</a> {{ c }}</li>
            {% endfor %}
          </ul>
          <p><a href="{% url letter.views.userdata %}">Begin met de brieven</a></p>
          {% endif %}
          </div>
        </div>
        <div id="rtext">
          <h1>Privacy assistent</h1>
          <p>Lorem ipsum</p>
        </div>
      </div>
    </div>
    <div id="bottom_info">
    <p>test</p>
    </div>
  </body>
</html>
