{% extends "pim/pimbase.html" %}

{% block content %}
          <div id="filter">
            <div id="active_filters">
              <p>Geselecteerd op</p>

            {% if selected_tags or selected_citizenroles or selected_sectors %}
              <ul>
                {% for role in selected_citizenroles %}
                <li><a class="delete" href="{% url letter.views.delcitizenrole role.0 %}">X</a>{{ role.1 }}</li>
                {% endfor %}
                {% for tag in selected_tags %}
                <li><a class="delete" href="{% url letter.views.delkeyword tag.pk %}">X</a> {{ tag }}</li>
                {% endfor %}
                {% for sector in selected_sectors %}
                <li><a class="delete" href="{% url letter.views.delsector sector.pk %}">X</a> {{ sector }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            </div>
            <p>Verfijn resultaten op</p>
              <p>Zoek afhankelijk van uw situatie</p>
              <ul>
                {# XXX: there should be a mapper between citizenroles and These names. For now this is good enough #}
                <li><a href="{% url letter.views.addcitizenrole 1 %}">Ik heb een Auto</a></li>
                <li><a href="{% url letter.views.addcitizenrole 2 %}">Ik heb een Bankrekening</a></li>
                <li><a href="{% url letter.views.addcitizenrole 3 %}">Ik reis veel</a></li>
                <li><a href="{% url letter.views.addcitizenrole 4 %}">Ik shop veel</a></li>
                <li><a href="{% url letter.views.addcitizenrole 5 %}">Ik heb m'n eigen bedrijf</a></li>
              </ul>
              {% if tags %}
              <p>Trefwoorden</p>
              <ul>
                {% for tag in tags %}
                <li><a href="{% url letter.views.addkeyword tag.id %}">{{ tag }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
              <p>Sectors</p>
              {% if sectors %}
              <ul>
                {% for sector in sectors %}
                <li><a href="{% url letter.views.addsector sector.id %}">{{ sector }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
          </div>
          <div id="organisations">
            <h2>Bedrijven</h2>
            <p>{{ org_count }} organisatie(s) gevonden.</p>
            <ul>
            {% for org in organisations.object_list %}
              <li><a href="{% url letter.views.addcompany org.id %}"> {{ org }}</a></li>
            {% endfor %}
            </ul>
            <div id="company_nav">
              {% if organisations.has_previous %}
              <a href="{% url letter.views.index organisations.previous_page_number %}">Vorige</a>
              {% endif %}
              Pagina {{ organisations.number }} van de {{ organisations.paginator.num_pages }}
              {% if organisations.has_next %}
              <a href="{% url letter.views.index organisations.next_page_number %}">Volgende</a>
              {% endif %}
            </div>
          </div>
          <div id="selected_organisations">
          {% if selected_companies|length == 0 %}
          <p>Je hebt nog geen bedrijven geselecteerd</p>
          {% else %}
          <ul>
            
            {% for c in selected_companies %}
            <li><a class="delete" href="{% url letter.views.delcompany c.pk %}">X</a> {{ c }}</li>
            {% endfor %}
          </ul>
          <p><a href="{% url letter.views.userdata %}">Begin met de brieven</a></p>
          {% endif %}
          </div>
{% endblock %}
