{% load utils %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title></title>

{% if export == "pdf" %}
		<link rel="stylesheet" href="letter.css" type="text/css" media="print, screen" />
{% else %}
		<link rel="stylesheet" href="/static/global/letter.css" type="text/css" media="print, screen" />
{% endif %}
	</head>
	<body>

    {% for organisation in organisations %}
      {% if not forloop.first %}
      {# first page already is an empty page. #}
      <pdf:nextpage />
      {% endif %}
      {% include "pim/letter_stub.html" %}
    {% endfor %}

	</body>
</html>
