<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title></title>

{% if export == "pdf" %}
		<link rel="stylesheet" href="letter.css" type="text/css" media="print, screen" />
{% else %}
		<link rel="stylesheet" href="/static/global/letter.css" type="text/css" media="print, screen" />
{% endif %}
	</head>
	<body>

		<div class="vcard" id="sender">
			<span class="fn">{{ firstname }} {{ lastname }}</span><br />
			<span class="street-address">{{ street_address }}</span><br />
			<span class="postal-code">{{ postcode }}</span>
			<span class="locality">{{ city }}</span><br />
			<span class="country-name">Nederland</span><br />
		</div>

		<div class="vcard" id="receiver">
			<span class="fn">{{ organisation }}</span><br />
			<span class="extended-address">{{ organisation.address }}</span><br />
			<span class="postal-code">{{ organisation.postcode }}</span>
			<span class="locality">{{ organisation.city }}</span><br />
			<span class="country-name">{{ organisation.country }}</span><br />
		</div>

		<p id="date-signature">{{ city }}, {{ currentdate }}</p>
		
		<h1>Betreft: Inzageverzoek op grond van de Wet bescherming persoonsgegevens (Wbp)</h1>
		
		<p>Geachte heer, mevrouw,<br />
		<br />
		Op basis van artikel 35 van de Wet bescherming persoonsgegevens (Wbp) verneem ik graag of u persoonsgegevens van mij verwerkt. Indien dat het geval is, verzoek ik u om een volledig overzicht in begrijpelijke vorm, een omschrijving van de doeleinden van de verwerking, de herkomst van de gegevens en een overzicht van de organisaties aan wie u deze gegevens heeft verstrekt.</p>
		
		<p>Wellicht ten overvloede vermeld ik dat ik in lid 1 van het wetsartikel een termijn van vier weken wordt genoemd waarin u aan dit verzoek moet voldoen.</p>
		
		<p>Een kopie van mijn identiteitsbewijs is als bijlage opgenomen.</p>
		
		<p id="signature">Hoogachtend,<br />
		<br />
		{{ firstname }} {{ lastname }}</p>

	</body>
</html>
