{% load utils %}
		<div class="vcard" id="sender">
			<span class="fn">{{ firstname|htmlentities }} {{ lastname|htmlentities }}</span><br />
			<span class="street-address">{{ street_address|htmlentities }}</span><br />
			<span class="postal-code">{{ postcode }}</span>
			<span class="locality">{{ city|htmlentities }}</span><br />
			<span class="country-name">Nederland</span><br />
		</div>

		<div class="vcard" id="receiver">
			<span class="fn">{{ organisation }}</span><br />
      {% if organisation.addressee %}
      <span class="addressee">{{ organisation.addressee|htmlentities }}</span><br />
      {% endif %}
			<span class="extended-address">{{ organisation.address|htmlentities }}</span><br />
			<span class="postal-code">{{ organisation.postcode }}</span>
			<span class="locality">{{ organisation.city|htmlentities }}</span><br />
			<span class="country-name">{{ organisation.country|htmlentities }}</span><br />
		</div>

		<p id="date-signature">{{ city|htmlentities }}, {{ currentdate|date:"j F Y" }}</p>
		
		<h1>Betreft: inzageverzoek op grond van de Wet bescherming persoonsgegevens (Wbp)</h1>
		
		<p>Geachte heer, mevrouw,<br />
		<br />
	    <p>Hierbij verzoek ik u na te gaan of u persoonsgegevens van mij verwerkt. Als u persoonsgegevens van mij verwerkt, wil ik hier graag inzage in hebben. Ik verwacht een volledig en begrijpelijk overzicht met daarin opgenomen de gegevens en de categorieën van gegevens waartoe zij behoren, met welke doelen u mijn gegevens verwerkt en de beschikbare informatie over de herkomst van mijn gegevens. Ook wil ik weten wie de ontvangers zijn of wat de categorieën van ontvangers zijn. Bovendien verzoek ik u hierbij expliciet om mij mede te delen welke logica aan de verwerkingen ten grondslag ligt. Tot slot verzoek ik u om het nummer van de melding van de verwerking bij het CBP.</p>
        <p>Dit verzoek heeft een wettelijke grondslag in artikel 35 van de Wet bescherming persoonsgegevens (Wbp). Wellicht ten overvloede vermeld ik dat in lid 1 van het wetsartikel een termijn van vier weken wordt genoemd waarin u aan dit verzoek moet voldoen.</p>
        <p>Ik heb een kopie van mijn identiteitsbewijs als bijlage opgenomen zodat u mijn identiteit kunt vaststellen.</p>
		<p id="signature">Hoogachtend,<br />
		<br />
		<br />
		{{ firstname|htmlentities }} {{ lastname|htmlentities }}</p>
