{% extends "base.html" %}

{% block bodyparam %}class="step-2"{% endblock %}

{% block content %}
<div id="wizard">
  <ol id="steps" class="flat-list">
    <li class="selected"><span class="step-count">2</span> Vul je gegevens in</li>
    <li class="progress"><img src="/static/global/progressbar_2.png" alt="voortgang" /></li>
  </ol>
  
  <div id="column-wrapper" class="clearfix step-2">
    <form action="{% url pimbase.views.userdata %}" method="post">
      {% csrf_token %}
      <div id="address-form" class="double column">
        <h2>Je adresgegevens</h2>
        <fieldset>
			<p class="fieldset-header">Vul hier je adresgegevens in, zodat PIM je brieven kan aanmaken.</p>
			{{ form.as_p }}
		</fieldset>
		<p class="disclaimer">
			PIM heeft deze gegevens nodig om je brief te kunnen genereren. De gegevens worden alleen voor dat doel gebruikt en worden na 10 minuten automatisch van de server verwijderd. De gegevens worden nergens anders voor gebruikt.
		</p>
      </div>
    
      <div id="selected-hamsters" class="column">
        <h2>Mijn keuze</h2>
        <ul>
        {% for org in selected_companies %}
          <li>{{ org }}</li>
        {% endfor %}
        </ul>
      </div>

      <p><a href="{% url pimbase.views.index %}" id="back-step" class="step-button" title="Ga naar de volgende stap"></a></p>
      <p><button type="submit" id="next-step" class="step-button" title="Ga naar de volgende stap"></button></p>
      
    </form>
  </div>
{% endblock %}
